/* TODO Add site wide styles */
@font-face {
  font-family: "River";
  src: local("River"), url("./fonts/RIVERFLOWS.ttf"), format("truetype");
  font-weight: normal;
}


* {
    box-sizing: border-box;
}
.products-list {
    height: 100%;
}

html {

    background: #88A9BC;
    /* overflow-x: hidden; */
    /* justify-content: center;
    align-items: center; */
    color: white;
    font-family: 'Headland One', serif;
    font-family: 'Merriweather', serif;
    /* font-family: River, serif */
    /* background-image: url('https://pngtree.com/so/blue-clipart'); */
}

div.cart-component{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

ul li{
    list-style-type: none;
}

.homeButton {
   border-radius: 50%;
}






