/* TODO Add site wide styles */
* {
    box-sizing: border-box;
}
.products-list {
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(219,226,239,1) 2%, rgba(63,114,175,1) 100%);
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    color:  #f9f7f7;
    font-family: 'Headland One', serif;
    font-family: 'Merriweather', serif;
    /* background-image: url('https://pngtree.com/so/blue-clipart'); */
}



ul li{
    list-style-type: none;
}

.homeButton {
   border-radius: 50%;
}




