.products-list {
    background-color: rgba(255, 255, 255, 0.5);
    height: 800px;
    width: 600px;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-left: 50px; */
    padding: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 10px 10px 8px 8px rgba(39, 58, 228, 0.30); */
    word-break: normal;
    font-size: 0.9em;
}

.card-back{
    /* margin-left: 50px; */
}

.flippy-card{
    height: 800px;
    width: 600px;
    /* margin-left: 50px; */

    
}

.product-pics{
   width: 300px;
   height: 300px; 
   border: white;
   /* border-radius: 50%; */
   border-style: solid;
   border-color: white;
   
}


#font-card{
    margin-top: 500px;
    /* margin-left: 50px; */
}


#back-card{
    height: 800px;
    background-color: #aac5d1;
    color: white;
    /* font-size: 1.2em; */
    /* margin-left: 50px; */
   
}

