.top-navigation-bar {
   margin: 0;
   padding: 0;
   position: relative;
   /* align-items: stretch; */
   display: grid;
   grid-row: 5fr;
}

.navigationButtons {
display: flex;
justify-content: space-between;
text-decoration: none;
border-radius: 30%;
/* width: 100px; */
padding: 10px;
float: right;
margin: 10px
}



.navigationButtons:hover{
   transform: scale(1.2);
}

#castle{
   float: right;
   height: 500px;
   height: 500px;
}

/* body{
   background: linear-gradient(90deg,  #88A9BC 70%, #ffffff 30% );
} */

body {
   background: linear-gradient(90deg,  #88A9BC 70%, white );
   background-size: cover;
   background-repeat: no-repeat;
}

html, body {
   margin: 0;
   height: 100%;
   display: grid;
   grid-column: 5fr;
}

.homeButton{
   display: flex; 
   height: 100px; 
   width: 100px;
   border-radius: 50%;
   margin-right: 100px;
   margin-top: 80px;
}


#logo-pic{
   height: 500px;
   width: 500px;
}


#signup-login{
   position: absolute;
   /* float: right; */
   justify-content: flex-end;
   margin: 10px;
   margin-right: 0;
   padding: 10px;
   margin-top: 210px;
   
}

 /* #login-button{
   margin-right: 200px;
} */

#signup-button{
   /* margin-right: 50px; */
} 
