

/* .container {
    background-color: #3F72AF;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 8px rgba(39, 58, 228, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
} */

.container {
  background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 520px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 8px rgba(39, 58, 228, 0.30);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    padding: 30px;
    border-top: 60px;

}

.container:hover {
  box-shadow: none;
  transition: 3s;
}

.input-field {
  position: relative;
  margin-bottom: 30px;
  width: 340px;
  opacity: 0.7;
  margin-left: 20px;
  margin-top: 20px;
  
}

.button {
  position:relative;
  left: 39%;
  background-color: #dbe2ef;
  border: none;
  border-radius: 30px; 
  font-size: 16px;
  padding: 16px 36px;
  margin-top: 20px;
  margin-bottom: -30px; 
  box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.65);
  color: #112d4e;
  opacity: 0.9;
}

.button:hover {
    background-color: #112d4e;
    color: #dbe2ef;
    transition: 0.5s;
}

.button:active {
  box-shadow: none;
  border-radius: none;
  background-color: white;
  outline: none;
  color:  #112d4e;;
}

.button:focus {
  outline: none;
}

.login-text {
  position: relative;
  opacity: 0.6;
  left: 43%;
}